{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<h1 align="center"> {{ object.second_name }} {{ object.first_name }} {{ object.third_name|default_if_none:" " }} </h1>
<h3>Дата рождения</h3>
<span class='lead'>{{ object.date_of_birth|default_if_none:"-" }} </span>
<h3>Биография</h3>
<span class='lead'>{{ object.biography|default_if_none:"Информации нет" }}</span><br>
<a class="btn btn-outline-info" href="{% url 'author-update' author.pk %}" role="button">Изменить</a>
{% endblock content %}